@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #013e4c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button:hover{
  cursor: pointer;
}

.hover:hover{
  background-color: red;
}
/* Contenedor con la cancha de fondo y la grilla de overlays */
.canchaInvisible{
  position: relative;
  background-image: url("/CanchaBasquet.svg");
  background-size: 100%;
  min-height: 400px;
  height: 100%;
  max-height: 700px;
  width: 100%;
  background-position: top;  
  background-repeat: no-repeat;
}
.cancha-divisiones{
  height: 100%;
}
.zone{
   font-family: var(--font-num), ui-monospace, monospace; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.zone:hover{
  font-family: var(--font-ui), system-ui, sans-serif;

background: #00000025;
cursor: pointer;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

input[type="checkbox"]:hover {
  scale: 1.1;
}
@keyframes myAnimation {
  0%  { opacity: 0;  }
  100% { opacity: 1;  }
}
.sectionAnimated {
  opacity: 1;
  animation: myAnimation 0.8s ease forwards;
}
.chart-container {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-height: 100%;
}
.dashboard{
  margin: 5%;
  max-width: 100vw;
  min-height: 70dvh;
  display: grid;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 25% 25% ; /* mejor fracciones que auto */
  grid-template-rows: auto auto;
  gap: 12px;
}

.componente{
  border: 1px solid black;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 500px;
  background: #fff;
}

/* cancha ocupa 2x2 (fila 1-2, col 1-2) */
.cancha{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

/* line chart arriba derecha (fila 1, col 3) */
.linechart{
  padding: 4px;
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}

.linechart2{
  padding: 4px;
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
/* box abajo derecha (fila 2, col 3) */
.barchar{
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}


/* alturas para charts */
.linechart > div,
.barchar > div { height: 100%; }

@media (max-width: 1024px){
  .dashboard{
    grid-template-columns: 1fr;      /* una columna */
    grid-template-rows: auto;        /* se apilan */
  }
  .cancha, .linechart, .box, .barchar{
    grid-column: 1 / 2;
    grid-row: auto;
  }
}
