@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #013e4c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button:hover{
  cursor: pointer;
}

.hover:hover{
  background-color: red;
}

.zone{
   font-family: var(--font-num), ui-monospace, monospace; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.zone:hover{
  font-family: var(--font-ui), system-ui, sans-serif;

background: #00000025;
cursor: pointer;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

input[type="checkbox"]:hover {
  scale: 1.1;
}
@keyframes myAnimation {
  0%  { opacity: 0;  }
  100% { opacity: 1;  }
}
.sectionAnimated {
  opacity: 1;
  animation: myAnimation 0.8s ease forwards;
}
.chart-container {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-height: 100%;
}

@media (max-width: 1024px){
  .dashboard{
    grid-template-columns: 1fr;      /* una columna */
    grid-template-rows: auto;        /* se apilan */
  }
  .cancha, .linechart, .box, .barchar{
    grid-column: 1 / 2;
    grid-row: auto;
  }
}
